body{
    margin: 0;
}

header{
    background-color: #AB0520; 
    min-height: 59px; 
    margin: 0; 
    border: 0;
}

.headerLogo{
    margin-left: 5%; 
    padding-top: 15px;
}

.snakeArticle{
    margin: auto; 
    width: 50%; 
    padding: 10px;
}


.snakeImg{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #00275A;
}

.sharingLink > a{
    margin-left: 20px ;
    color: #AB0520;
    background-color: #fff;
    border: 1px solid #00275A;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}
.sharingLink > a:hover{
    background-color: #AB0520;
    color: #fff;
}
